{% extends "front-base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}Donations{% endblock head_title %}

{% block content %}
    <div class="breadcrumb-area text-center shadow dark bg-fixed padding-xl text-light" style="background-image: url(assets/img/banner/19.jpg);">
        <div class="container">
            <div class="breadcrumb-items">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Donations</h2>
                    </div>
                </div>
                <ul class="breadcrumb">
                    <li><a href="{% url 'pages:index' %}"><i class="fas fa-home"></i> Home</a></li>
                    
                    <li class="active">Donations</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Causes 
    ============================================= -->
    <div class="causes-area bg-gray default-padding">
        <div class="container">
            <div class="causes-items">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Single Item -->
                        <div class="grid-item">
                            <div class="row">
                                <div class="thumb col-lg-5" style="background-image: url(assets/img/causes/11.jpg);">
                                    <span class="cats">Education</span>
                                </div>
                                <div class="info col-lg-7">
                                    <div class="top-entry">
                                        <div class="date">
                                            <i class="fas fa-clock"></i> <strong>Created : </strong> Jul 15, 2020
                                        </div>
                                        <div class="location">
                                            <i class="fas fa-map-marker-alt"></i> <strong>Location : </strong>  Mombasa, Africa
                                        </div>
                                    </div>
                                    <h3>
                                        <a href="#">Give Education To Africa</a>
                                    </h3>
                                    <p>
                                        Admiration stimulated cultivated reasonable be projection possession of. Real no near room ye bred sake if some. Is arranging furnished knowledge agreeable so. Fanny as smile up small. It vulgar chatty simple months. 
                                    </p>
                                    <div class="progress-box">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" data-width="33">
                                                <span>33%</span>
                                            </div>
                                        </div>
                                        <p>Raised : $5488 <span>Goal : $12800</span></p>
                                    </div>
                                    <a class="btn circle btn-theme border btn-md" href="#">Donate Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="grid-item">
                            <div class="row">
                                <div class="thumb col-lg-5" style="background-image: url(assets/img/causes/22.jpg);">
                                    <span class="cats">Water</span>
                                </div>
                                <div class="info col-lg-7">
                                    <div class="top-entry">
                                        <div class="date">
                                            <i class="fas fa-clock"></i> <strong>Created : </strong> Aug 26, 2020
                                        </div>
                                        <div class="location">
                                            <i class="fas fa-map-marker-alt"></i> <strong>Location : </strong>  Kusaka, Uganda
                                        </div>
                                    </div>
                                    <h3>
                                        <a href="#">Water For All Children</a>
                                    </h3>
                                    <p>
                                        Admiration stimulated cultivated reasonable be projection possession of. Real no near room ye bred sake if some. Is arranging furnished knowledge agreeable so. Fanny as smile up small. It vulgar chatty simple months. 
                                    </p>
                                    <div class="progress-box">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" data-width="57">
                                                <span>57%</span>
                                            </div>
                                        </div>
                                        <p>Raised : $2890 <span>Goal : $5700</span></p>
                                    </div>
                                    <a class="btn circle btn-theme border btn-md" href="#">Donate Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="grid-item">
                            <div class="row">
                                <div class="thumb col-lg-5" style="background-image: url(assets/img/causes/33.jpg);">
                                    <span class="cats">Food</span>
                                </div>
                                <div class="info col-lg-7">
                                    <div class="top-entry">
                                        <div class="date">
                                            <i class="fas fa-clock"></i> <strong>Created : </strong> Sep 06, 2020
                                        </div>
                                        <div class="location">
                                            <i class="fas fa-map-marker-alt"></i> <strong>Location : </strong>  Mombasa, Syria
                                        </div>
                                    </div>
                                    <h3>
                                        <a href="#">Food for Syrian</a>
                                    </h3>
                                    <p>
                                        Admiration stimulated cultivated reasonable be projection possession of. Real no near room ye bred sake if some. Is arranging furnished knowledge agreeable so. Fanny as smile up small. It vulgar chatty simple months. 
                                    </p>
                                    <div class="progress-box">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" data-width="68">
                                                <span>68%</span>
                                            </div>
                                        </div>
                                        <p>Raised : $5488 <span>Goal : $8900</span></p>
                                    </div>
                                    <a class="btn circle btn-theme border btn-md" href="#">Donate Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                    <!-- Paginatin -->
                    <div class="donation-pagi text-center col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <nav aria-label="navigation">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- End Paginatin -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}