{% extends "back-base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Dashboard{% endblock head_title %}

{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h5 class="text-muted fw-normal mt-0" title="Campaign Sent">Orphans</h5>
                            <h3 class="my-2 py-1">20</h3>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h5 class="text-muted fw-normal mt-0" title="New Leads">Mosques &amp; Schools</h5>
                            <h3 class="my-2 py-1">50</h3>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h5 class="text-muted fw-normal mt-0" title="Deals">Volunteers</h5>
                            <h3 class="my-2 py-1">861</h3>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h5 class="text-muted fw-normal mt-0" title="Unread Messages">Unread Messages</h5>
                            <h3 class="my-2 py-1">{{ unread_messages.count }}</h3>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            <div class="avatar-sm">
                                <span class="avatar-title bg-primary-lighten text-primary rounded">
                                    <i class="mdi mdi-file-document-edit font-24"></i>
                                </span>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="mt-0 mb-1">Active Projects</h5>
                            <p class="mb-0">85</p>
                        </div>
                        <div class="dropdown float-end">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">Today</a>
                                <a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
                                <a href="javascript:void(0);" class="dropdown-item">Last Week</a>
                                <a href="javascript:void(0);" class="dropdown-item">Last Month</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            <div class="avatar-sm">
                                <span class="avatar-title bg-success-lighten text-success rounded">
                                    <i class="mdi mdi-account-group font-24"></i>
                                </span>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="mt-0 mb-1">Total Employees</h5>
                            <p class="mb-0">32</p>
                        </div>
                        <div class="dropdown float-end">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">Today</a>
                                <a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
                                <a href="javascript:void(0);" class="dropdown-item">Last Week</a>
                                <a href="javascript:void(0);" class="dropdown-item">Last Month</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            <div class="avatar-sm">
                                <span class="avatar-title bg-info-lighten text-info rounded">
                                    <i class="mdi mdi-account-star font-24"></i>
                                </span>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="mt-0 mb-1">Project Reviews</h5>
                            <p class="mb-0">40</p>
                        </div>
                        <div class="dropdown float-end">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">Today</a>
                                <a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
                                <a href="javascript:void(0);" class="dropdown-item">Last Week</a>
                                <a href="javascript:void(0);" class="dropdown-item">Last Month</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            <div class="avatar-sm">
                                <span class="avatar-title bg-warning-lighten text-warning rounded">
                                    <i class="mdi mdi-folder-plus font-24"></i>
                                </span>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="mt-0 mb-1">New Projects</h5>
                            <p class="mb-0">25</p>
                        </div>
                        <div class="dropdown float-end">
                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="javascript:void(0);" class="dropdown-item">Today</a>
                                <a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
                                <a href="javascript:void(0);" class="dropdown-item">Last Week</a>
                                <a href="javascript:void(0);" class="dropdown-item">Last Month</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}