{% extends "back-base.html" %}
{% load static %}
{% block head_title %}Message Details{% endblock head_title %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'contacts:contact_messages' %}">Messages</a></li>
                        <li class="breadcrumb-item active">Message Details</li>
                    </ol>
                </div>
                <h4 class="page-title">Message Details</h4>
            </div>
        </div>
    </div>
 
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">                     
                    <div class="mt-3">
                        <h5 class="font-18">{{ message_details.supject | upper }}!</h5>
                        <hr/>
                        <div class="d-flex mb-3 mt-1">
                            <div class="w-100 overflow-hidden">
                                <small class="float-end">{{ message_details.created_at | date }}</small>
                                <h6 class="m-0 font-14">{{ message_details.name }}</h6>
                                <small class="text-muted">{{ message_details.email }}</small><br>
                                <small class="text-muted">{{ message_details.phone }}</small>
                            </div>
                        </div>

                        <p><h4>Message</h4></p>
                        <p>{{ message_details.message | linebreaks }}</p>
                        <hr/>
                        <div class="mt-3">
                            <a href="{% url 'contacts:message_update' message_details.id %}" class="btn btn-secondary me-2"><i class=" ri-edit-2-line"></i> Update status</a>
                            <a href="{% url 'contacts:message_delete' message_details.pk %}" class="btn btn-danger"><i class="ri-delete-bin-line"></i> Delete message</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock content %}


