{% extends "front-base.html" %}
{% load static %}

{% block head_title %}Home{% endblock head_title %}


{% block content %}
    <div class="banner-area inc-shape inc-indicator content-less text-large">
        <div id="bootcarousel" class="carousel text-light slide carousel-fade animate_text" data-ride="carousel">

            <!-- Indicators for slides -->
            <div class="carousel-indicator">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ol class="carousel-indicators">
                                <li data-target="#bootcarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#bootcarousel" data-slide-to="1"></li>
                                <li data-target="#bootcarousel" data-slide-to="2"></li>
                                <li data-target="#bootcarousel" data-slide-to="3"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner carousel-zoom">
                
                <div class="carousel-item active">
                    <div class="slider-thumb bg-cover" style="background-image: url('{% static "frontend/assets/img/banner/banner1.png" %}');"></div>
                    <div class="box-table">
                        <div class="box-cell shadow dark">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="content">
                                            <h4 data-animation="animated slideInDown">Principal Donor</h4>
                                            <h2 data-animation="animated slideInRight">Sen.  <strong>Mujaddidi</strong></h2>
                                            <!--<a data-animation="animated fadeInUp" class="btn circle btn-theme border btn-md" href="#">Discover More</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="slider-thumb bg-cover" style="background-image: url('{% static "frontend/assets/img/banner/banner2.jpg" %}');"></div>
                    <div class="box-table">
                        <div class="box-cell shadow dark">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="content">
                                            <h4 data-animation="animated slideInDown">Orphans</h4>
                                            <h2 data-animation="animated slideInRight">Help us to save the<strong> Orphans.</strong></h2>
                                            <a data-animation="animated fadeInUp" class="btn circle btn-theme border btn-md" href="#">Discover More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="slider-thumb bg-cover" style="background-image: url('{% static "frontend/assets/img/banner/banner3.jpg" %}');"></div>
                    <div class="box-table">
                        <div class="box-cell shadow dark">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="content">
                                            <h4 data-animation="animated slideInDown">Women &amp; Youth</h4>
                                            <h2 data-animation="animated slideInRight">Women &amp; Youth <strong>Empowerment.</strong></h2>
                                            <a data-animation="animated fadeInUp" class="btn circle btn-theme border btn-md" href="#">Discover More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="slider-thumb bg-cover" style="background-image: url('{% static "frontend/assets/img/banner/banner4.jpg" %}');"></div>
                    <div class="box-table">
                        <div class="box-cell shadow dark">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="content">
                                            <h4 data-animation="animated slideInDown">Education &amp; Da'wa</h4>
                                            <h2 data-animation="animated slideInRight">Educational Support &amp; <strong>Da'wa</strong></h2>
                                            <a data-animation="animated fadeInUp" class="btn circle btn-theme border btn-md" href="#">Discover More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>

        </div>
    </div>

    <div class="about-area mt-5">
        <div class="container">
        
            <div class="info">
                    <h5>About Us</h5>
                    <h2 class="text-blur">About</h2>
                    <h2 class="">We are a charitable ogranization.</h2>
                    <p>
                        Principles travelling frequently far delightful its especially 
                        acceptance. Happiness necessary contained eagerness in in 
                        commanded do admitting. Favourable continuing difficulty 
                        had her solicitude far. Nor doubt off widow all death aware offer. 
                        We will up able in both do sing.
                    </p>
                    
                    <ul>
                        <li>
                            <h5>3.5K</h5>
                            <span>Orphans helped</span>
                        </li>
                        <li>
                            <h5>16K</h5>
                            <span>Women &amp; Youth Empowered</span>
                        </li>
                        <li>
                            <h5>250</h5>
                            <span>Islamiyya Built Newly</span>
                        </li>
                        <li>
                            <h5>2K.</h5>
                            <span>Students on full Scholarship</span>
                        </li>
                    </ul>
                </div>
        
        </div>
    </div>

    <div class="about-area default-padding">
        <div class="container">
            <div class="row">

                <div class="popular-causes">
                    <div class="causes-box">
                        <h4> <i class="fas fa-bolt"></i> Popular Causes</h4>
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'frontend/assets/img/causes/11.jpg' %}" alt="Thumb">
                            </div>
                            <div class="info">
                                <span class="cats">
                                    Scholarship
                                </span>
                                <h4>
                                    <a href="#">Education for the Orphans</a>
                                </h4>
                                <div class="progress-box">
                                    <p>Raised : &#8358;635K <span class="float-right">Goal : &#8358;2.5m</span></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="87"></div>
                                    </div>
                                    <span>Fund collect : 32%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'frontend/assets/img/causes/22.jpg' %}" alt="Thumb">
                            </div>
                            <div class="info">
                                <span class="cats">
                                    Empowerment
                                </span>
                                <h4>
                                    <a href="#">Women &amp; Youth Empowerment</a>
                                </h4>
                                <div class="progress-box">
                                    <p>Raised : &#8358;970K <span class="float-right">Goal : &#8358;1.8m</span></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="55"></div>
                                    </div>
                                    <span>Fund collect: 55%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'frontend/assets/img/causes/33.jpg' %}" alt="Thumb">
                            </div>
                            <div class="info">
                                <span class="cats">
                                    Da'wah
                                </span>
                                <h4>
                                    <a href="#">Da'wah</a>
                                </h4>
                                <div class="progress-box">
                                    <p>Raised : &#8358;1.12m <span class="float-right">Goal : &#8358;1.2m</span></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="95"></div>
                                    </div>
                                    <span>Fund collect :95%</span>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'frontend/assets/img/causes/33.jpg' %}" alt="Thumb">
                            </div>
                            <div class="info">
                                <span class="cats">
                                    Title
                                </span>
                                <h4>
                                    <a href="#">Title</a>
                                </h4>
                                <div class="progress-box">
                                    <p>Raised :&#8358;800K <span class="float-right">Goal : &#8358;500K</span></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="100"></div>
                                    </div>
                                    <span>Fund collect :100% + 60%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="we-do-area half-bg default-padding bottom-less bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5>What we do</h5>
                        <h2>
                           We Donate to charity causes <br> within Bauchi South and beyond.
                        </h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="wedo-items text-center">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <!--<i class="flaticon-water-bottle"></i>-->
                            <h4>Orphans</h4>
                            <p>
                                The orphans need our help to succeed.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <!--<i class="flaticon-pharmacy"></i>-->
                            <h4>Education</h4>
                            <p>
                                Scholarship with with support becomes simpler
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <!--<i class="flaticon-planet-earth"></i>-->
                            <h4>Empowerment</h4>
                            <p>
                                Empowerment help keep the society in peace.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <!--<i class="flaticon-home"></i>-->
                            <h4>Da'wa</h4>
                            <p>
                                Religious propagation keeps the deen alive
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    
    <!--
    <div class="causes-area bg-gray default-padding bottom-less">
        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-6 left-info">
                        <h5>Recent Causes</h5>
                        <h2>
                            Donate to charity causes around the world.
                        </h2>
                    </div>
                    <div class="col-lg-6 right-info">
                        <p>
                            Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                        </p>
                        <a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="causes-items">
                <div class="row">
                    
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/donation/1.jpg" alt="Thumb">
                                    <span class="overlay">
                                        <strong>Created : </strong> Nov 7, 2020
                                    </span>
                                </a>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Home for homeless</a>
                                </h4>
                                <p>
                                    Especially do at he possession insensible manner sympathize boisterous it. 
                                </p>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="50">
                                            <span>50%</span>
                                        </div>
                                    </div>
                                    <p>Raised : &#8358;4200 <span>Goal : &#8358;8400</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/donation/2.jpg" alt="Thumb">
                                    <div class="trend">
                                        <i class="fas fa-bolt"></i> Trend
                                    </div>
                                    <span class="overlay">
                                        <strong>Created : </strong> Jul 15, 2020
                                    </span>
                                </a>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Water For All Children</a>
                                </h4>
                                <p>
                                    Especially do at he possession insensible manner sympathize boisterous it. 
                                </p>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="69">
                                            <span>69%</span>
                                        </div>
                                    </div>
                                    <p>Raised : &#8358;6230 <span>Goal : &#8358;8400</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/donation/3.jpg" alt="Thumb">
                                    <span class="overlay">
                                        <strong>Created : </strong> Dec 26, 2020
                                    </span>
                                </a>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Food for Syrian</a>
                                </h4>
                                <p>
                                    Especially do at he possession insensible manner sympathize boisterous it. 
                                </p>
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-width="45">
                                            <span>45%</span>
                                        </div>
                                    </div>
                                    <p>Raised : &#8358;4230 <span>Goal : &#8358;8400</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    -->

    <!--
    <div class="volunteer-area text-center default-padding">
        
        <div class="shape-bottom">
            <img src="assets/img/shape/7.png" alt="Shape">
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h5>Become a Volunteer</h5>
                    <h2 class="text-blur">Volunteer</h2>
                    <h2 class="area-title">We’ve funded 120,00 charity projects for 20M people around the world.</h2>
                    <p>
                         Replied joy age visitor nothing cottage. Mrs door paid led loud sure easy read. Hastily at perhaps as neither or ye fertile tedious visitor. Use fine bed none call busy dull when. Quiet ought match my right by table means. Principles up do in me favourable affronting. Twenty mother denied effect we to do on. 
                    </p>
                    <form action="#">
                        <input type="email" placeholder="Your Email" class="form-control" name="email">
                        <button type="submit"> Join Now</button>  
                    </form>
                </div>
            </div>
        </div>
    </div>
    -->


    <!--
    <div class="event-area carousel-shadow default-padding bg-gray">
        
        <div class="shape-bottom-left">
            <img src="{# static 'frontend/assets/img/shape/8.png' #}" alt="Shape">
        </div>
        
        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-6 left-info">
                        <h5>Upcoming Events</h5>
                        <h2>
                            Join to our upcoming event and get involved
                        </h2>
                    </div>
                    <div class="col-lg-6 right-info">
                        <p>
                            Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                        </p>
                        <a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="event-items event-carousel owl-carousel owl-theme">
                
                <div class="item">
                    <div class="thumb">
                        <img src="{# static 'frontend/assets/img/event/1.jpg' #}" alt="Thumb">
                        <div class="date">
                            12 <strong>Aug</strong>
                        </div>
                    </div>
                    <div class="info">
                        <div class="time"><i class="fas fa-clock"></i> 8:00 am - 16:00 pm</div>
                        <h4>
                            <a href="#">Healty Food For Poor People</a>
                        </h4>
                        <p>
                            Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible. 
                        </p>
                        <a class="btn circle btn-theme border btn-md" href="#">Know More</a>
                    </div>
                </div>
                
                <div class="item">
                    <div class="thumb">
                        <img src="{# static 'frontend/assets/img/event/2.jpg' #}" alt="Thumb">
                        <div class="date">
                            25 <strong>Dec</strong>
                        </div>
                    </div>
                    <div class="info">
                        <div class="time"><i class="fas fa-clock"></i> 10:00 am - 17:30 pm</div>
                        <h4>
                            <a href="#">Water Facilities for People</a>
                        </h4>
                        <p>
                            Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible. 
                        </p>
                        <a class="btn circle btn-theme border btn-md" href="#">Know More</a>
                    </div>
                </div>
                
                <div class="item">
                    <div class="thumb">
                        <img src="{# static 'frontend/assets/img/event/3.jpg' #}" alt="Thumb">
                        <div class="date">
                            18 <strong>Jul</strong>
                        </div>
                    </div>
                    <div class="info">
                        <div class="time"><i class="fas fa-clock"></i> 8:30 am - 16:45 pm</div>
                        <h4>
                            <a href="#">Lifeskills for Children in South Africa</a>
                        </h4>
                        <p>
                            Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible. 
                        </p>
                        <a class="btn circle btn-theme border btn-md" href="#">Know More</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    -->

    <div class="donation-area text-light bg-gray default-padding">
        
        <div class="fixed-bg" style="background-image: url('{% static "frontend/assets/img/banner/12.jpg" %}');"></div>

        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 info">
                    <h5>Donate Today</h5>
                    <h2 class="area-title">Donate today and get involved to help the orphans</h2>
                    <p>
                        Help the orphans and less-privileged. Empower the youth and women.
                    </p>
                    <div class="question">
                        <div class="icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="info">
                            <h5>Have any question about donation? </h5>
                            <span>Call Now: +234 70 3289 2994</span>
                        </div>
                    </div>
                </div>
                
                <!--
                <div class="col-lg-6 donation-form">
                    <div class="form-box">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Amount">Amount</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="Amount" placeholder="&#8358;129.00" required>
                                            <span class="input-group-addon"><i class="fas fa-dollar-sign"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="donateType">Frequency</label>
                                        <select id="donateType" class="form-control">
                                            <option value="once">Once</option>
                                            <option value="weekly">Weekly</option>
                                            <option value="Fortnightly">Fortnightly</option>
                                            <option value="Monthly">Monthly</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="cardNumber">Card Number</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number" required>
                                            <span class="input-group-addon"><i class="fas fa-credit-card"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-8">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="expMonth">Expiration Date</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <input type="text" class="form-control" id="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-4 pull-right">
                                    <div class="form-group">
                                        <label for="cvCode">CV Code</label>
                                        <input type="password" class="form-control" id="cvCode" placeholder="CV" required data-stripe="cvc" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-theme effect btn-md" type="submit">Donate Now</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                -->
            </div>
        </div>
    </div>

    <!--
    <div class="testimonials-area carousel-shadow bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5>Testimonials</h5>
                        <h2>
                           What people say <br> About Mujaddidi Charitable Foundation
                        </h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-items testimonial-carousel owl-carousel owl-theme">
                        
                        <div class="item">
                            <div class="info">
                                <div class="top-info">
                                    <i class="flaticon-left-quote-1"></i>
                                    <div class="provider">
                                        <h4>Jeckey Pura</h4>
                                        <span>Volunteer</span>
                                    </div>
                                </div>
                                <p>
                                    Numerous indulged distance old law you. Total state as merit court green decay he. Steepest sex bachelor the may delicate its yourself. As he instantly on discovery concluded to. Open draw far pure miss felt say yet few sigh. 
                                </p>
                            </div>
                        </div>
                    
                        <div class="item">
                            <div class="info">
                                <div class="top-info">
                                    <i class="flaticon-left-quote-1"></i>
                                    <div class="provider">
                                        <h4>Benil Sraw</h4>
                                        <span>Volunteer</span>
                                    </div>
                                </div>
                                <p>
                                    Numerous indulged distance old law you. Total state as merit court green decay he. Steepest sex bachelor the may delicate its yourself. As he instantly on discovery concluded to. Open draw far pure miss felt say yet few sigh. 
                                </p>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="info">
                                <div class="top-info">
                                    <i class="flaticon-left-quote-1"></i>
                                    <div class="provider">
                                        <h4>Adam Blaur</h4>
                                        <span>Volunteer</span>
                                    </div>
                                </div>
                                <p>
                                    Numerous indulged distance old law you. Total state as merit court green decay he. Steepest sex bachelor the may delicate its yourself. As he instantly on discovery concluded to. Open draw far pure miss felt say yet few sigh. 
                                </p>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <!--
    <div class="gallery-area default-padding">
        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-6 left-info">
                        <h5>What We Did</h5>
                        <h2>
                            Some of our projects
                        </h2>
                    </div>
                    <div class="col-lg-6 right-info">
                        <p>
                            Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                        </p>
                        <a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="gallery-items-area inner-title">
                        <div class="gallery-content">

                            <div class="magnific-mix-gallery masonary">
                                <div id="portfolio-grid" class="gallery-items colums-3">
                                    <div class="pf-item">
                                        <div class="item-inner">
                                            <img src="assets/img/gallery/11.jpg" alt="Thumb"/>
                                            <div class="overlay">
                                                <h4><a href="#">Food Served</a></h4>
                                                <span class="cats">Poor</span>
                                            </div>
                                            <div class="view">
                                                <a href="assets/img/gallery/11.jpg" class="item popup-link"><i class="fa fa-plus"></i></a>
                                            </div>       
                                        </div>
                                    </div>
                                    <div class="pf-item wide">
                                        <div class="item-inner">
                                            <img src="assets/img/gallery/77.jpg" alt="Thumb"/>
                                            <div class="overlay">
                                                <h4><a href="#">Water Collect</a></h4>
                                                <span class="cats">Poor</span>
                                            </div>
                                            <div class="view">
                                                <a href="assets/img/gallery/77.jpg" class="item popup-link"><i class="fa fa-plus"></i></a>
                                            </div>       
                                        </div>
                                    </div>
                                    <div class="pf-item">
                                        <div class="item-inner">
                                            <img src="assets/img/gallery/33.jpg" alt="Thumb"/>
                                            <div class="overlay">
                                                <h4><a href="#">Blood Donate</a></h4>
                                                <span class="cats">Poor</span>
                                            </div>
                                            <div class="view">
                                                <a href="assets/img/gallery/33.jpg" class="item popup-link"><i class="fa fa-plus"></i></a>
                                            </div>       
                                        </div>
                                    </div>
                                    <div class="pf-item">
                                        <div class="item-inner">
                                            <img src="assets/img/gallery/44.jpg" alt="Thumb"/>
                                            <div class="overlay">
                                                <h4><a href="#">Child Education</a></h4>
                                                <span class="cats">Poor</span>
                                            </div>
                                            <div class="view">
                                                <a href="assets/img/gallery/44.jpg" class="item popup-link"><i class="fa fa-plus"></i></a>
                                            </div>       
                                        </div>
                                    </div>
                                    <div class="pf-item">
                                        <div class="item-inner">
                                            <img src="assets/img/gallery/55.jpg" alt="Thumb"/>
                                            <div class="overlay">
                                                <h4><a href="#">Help Homeless</a></h4>
                                                <span class="cats">Poor</span>
                                            </div>
                                            <div class="view">
                                                <a href="assets/img/gallery/55.jpg" class="item popup-link"><i class="fa fa-plus"></i></a>
                                            </div>       
                                        </div>
                                    </div>
                                    <div class="pf-item">
                                        <div class="item-inner">
                                            <img src="assets/img/gallery/66.jpg" alt="Thumb"/>
                                            <div class="overlay">
                                                <h4><a href="#">Rebuild Home</a></h4>
                                                <span class="cats">Poor</span>
                                            </div>
                                            <div class="view">
                                                <a href="assets/img/gallery/66.jpg" class="item popup-link"><i class="fa fa-plus"></i></a>
                                            </div>       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    
    <div class="blog-area default-padding bottom-less bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5>Latest News</h5>
                        <h2>
                           Recent Blog Posts
                        </h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="blog-items">
                <div class="row">
                {% if blog_recent %}
                    {% for post in blog_recent %}
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="blog-single-with-sidebar.html">
                                    <img src="{{ post.image.url }}" alt="Thumb">
                                    <span class="date">
                                        {{ post.created_at | date }}
                                    </span>
                                </a>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h4>
                                <div class="meta">
                                    <ul>
                                        <li>By {{ post.author | upper }}</li>
                                        <!--<li><i class="fas fa-comments"></i> 12 Comments</li>-->
                                    </ul>
                                </div>
                                <p>
                                    {{ post.content | truncatewords:15 }}
                                </p>
                                <a class="btn-more" href="{{ post.get_absolute_url }}">Read More</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                {% else %}
                    No recent blog posts
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}