{% extends "front-base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Terms &amp; Conditions{% endblock head_title %}

{% block content %}

    <div class="breadcrumb-area text-center shadow dark bg-cover padding-md text-light" style="background-image: url('{% static "frontend/assets/img/banner/23.jpg" %}');">
        <div class="container">
            <div class="breadcrumb-items">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Terms &amp; Conditions</h2>
                    </div>
                </div>
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">Terms &amp; Conditions</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}