{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mujaddidi - Foundation & Charity">

    <title>{% block head_title %} {% endblock head_title %} | Mujaddidi Foundation</title>

    <link rel="shortcut icon" href="{% static 'frontend/assets/img/favicon.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'frontend/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'frontend/assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'frontend/assets/css/themify-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'frontend/assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'frontend/assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'frontend/assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'frontend/assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'frontend/assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'frontend/assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'frontend/assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <link href="../../../external.html?link=https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap" rel="stylesheet">

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <div class="top-bar-area inc-pad bg-dark text-light">
        <div class="container-full">
            <div class="row align-center">
                <div class="col-lg-6 info">
                    <ul>
                        <li>
                            <i class="fas fa-envelope-open"></i> Info@mujaddidifoundation.org
                        </li>
                        <li>
                            <i class="fas fa-phone"></i> +234 70 3289 2994
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right item-flex">
                    <div class="info">
                        <ul>
                            <li>
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'accounts:dashboard' %}">Account</a>
                                <a href="{% url 'logout' %}">Logout</a>
                                {% else %}
                                <a href="{% url 'login' %}">Login</a>
                                {% endif %}
                            </li>
                            
                        </ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-sticky bootsnav">

            <div class="container-full">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav border-less">
                    <a class="btn circle btn-theme border btn-sm align-right" href="{% url 'login' %}">Log in</a>
                </div>        
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'pages:index' %}">
                        Mujaddidi<br><small>Charitable Foundation</small>
                        <!--<img src="{# static 'frontend/assets/img/logo.png' #}" class="logo" alt="Logo">-->
                    </a>

                </div>
                
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                        <li>
                            <a href="{% url 'pages:index' %}" {% if '/' == request.path %}class="active"{% endif %}>Home</a>
                        </li>
                        <li>
                            <a href="{% url 'pages:about_us' %}" {% if 'about-us' in request.path %}class="active" {% endif %}>About us</a>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Donations</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'donations:donations' %}">Donations</a></li>
                                <li><a href="{% url 'donations:donors' %}">Donors</a></li>
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="#" {% if 'events' in request.path %}class="active"{% endif %}>Events</a>
                        </li>
                        
                        <li>
                            <a href="{% url 'blog:posts' %}" {% if 'posts' in request.path %}class="active"{% endif %}>Blog</a>
                        </li>

                        <li>
                            <a href="#" {% if 'portfolio' in request.path %}class="active"{% endif %}>Portfolio</a>
                        </li>
                        
                        <li>
                            <a href="{% url 'contacts:contact_form' %}" {% if 'contact-form' in request.path %}class="active"{% endif %}>Contact us</a>
                        </li>
                    </ul>

                </div>
            </div>

        </nav>

    </header>
    
    {% block content %}
    
    {% endblock content %}

    <footer class="bg-dark text-light">
        <!-- Fixed Shape -->
        <div class="fixed-shape">
            <img src="{% static 'frontend/assets/img/footer-bg.png' %}" alt="Shape">
        </div>
        <!-- Fixed Shape -->
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="f-item about">
                            <!--<img src="{% static 'frontend/assets/img/logo-light.png' %}" alt="Logo">-->
                            <h2>Mujaddidi<br><small>Charitable Foundation</small></h2>
                            <p>
                                Happen active county. Winding morning am shyness evident to. Garrets because elderly new manners however one village she.
                            </p>
                            <form action="#">
                                <input type="email" placeholder="Your Email" class="form-control" name="email">
                                <button type="submit"> Subscribe</button>  
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Explore</h4>
                            <ul>
                                <li>
                                    <a href="#">Our Causes</a>
                                </li>
                                <li>
                                    <a href="{% url 'pages:team' %}">Our Team</a>
                                </li>
                                <li>
                                    <a href="{# url 'donations:donate' #}#">Donate</a>
                                </li>
                                <li>
                                    <a href="{% url 'pages:privacy' %}">Privacy</a>
                                </li>
                                <li>
                                    <a href="{% url 'pages:terms' %}">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        <strong>Address:</strong>
                                        Wunti Market Alogn Dass Road, Bauchi, Bauchi State. Nigeria.
                                    </li>
                                    <li>
                                        <strong>Email:</strong>
                                        <a href="mailto:info@mujaddidifoundation.org">info@mujaddidifoundation.org</a>
                                    </li>
                                    <li>
                                        <strong>Phone:</strong>
                                        <a href="tel:2151234567">+234 70 3289 2994</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item recent-post">
                            <h4 class="widget-title">Latest News</h4>
                            <!--
                            <div class="item">
                                <a href="#">Delighted prevailed supported too not remainder perpetual.</a>
                                <span><i class="fas fa-calendar-alt"></i> 22 Aug, 2020 -  <a href="#">Admin</a></span>
                            </div>
                            <div class="item">
                                <a href="#">Speaking trifling an to unpacked moderate debating learnin management. </a>
                                <span><i class="fas fa-calendar-alt"></i> 15 Nov, 2020 -  <a href="#">User</a></span>
                            </div>
                            -->
                            No records
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p>&copy; Mujaddidi Foundation {% now 'Y' %}.</p>
                    </div>

                    <div class="col-md-4 text-center">
                        <p>Powered by <a href="#">Integral Solutions</a></p>
                    </div>

                    <div class="col-md-4 text-right link">
                        <ul>
                            <li>
                                <a href="{% url 'pages:terms' %}">Terms</a>
                            </li>
                            <li>
                                <a href="{% url 'pages:privacy' %}">Privacy</a>
                            </li>
                            <li>
                                <a href="{% url 'contacts:contact_form' %}">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="{% static 'frontend/assets/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/equal-height.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'frontend/assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'frontend/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/progress-bar.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/count-to.js' %}"></script>
    <script src="{% static 'frontend/assets/js/YTPlayer.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'frontend/assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'frontend/assets/js/main.js' %}"></script>

</body>
</html>